nav{
    padding: 10px;
    background-color: #b76a24;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}
.title{
    font-family: "Poppins", system-ui;
    font-size: 30px;
    color: #470e08;
    display: flex;
    animation: slideCollapseExpand 2s ease-in-out;
    transform-origin: center;
}

.logo{
    height: 100px;
    margin-top: 20px;
}

.search-bar{
    margin-top: 30px;
    margin-bottom: 20px;
}

input{
    height: 20px;
    padding: 10px;
    width:200px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    opacity: 0.4;
    text-decoration: none;
}
button{
    height:40px;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(184, 48, 48, 0.575);
    border: none;
    color: white;
    cursor: pointer;

}

.navbar-links {
    text-decoration: none;
    height: 20px;
    padding: 10px 15px;
    background-color: rgba(184, 48, 48, 0.575);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 60px;
    margin-left: 10px;
}

.left-navbar{
    display: flex;
    flex-direction: column;
    
}

@keyframes slideCollapseExpand {
    0% {
        opacity: 0;
        transform: translateX(-100%); /* Start from the left */
    }
    50% {
        opacity: 1;
        transform: translateX(0) scaleX(0.1); /* Collapse in the middle */
    }
    100% {
        opacity: 1;
        transform: translateX(0) scaleX(1); /* Expand back to original size */
    }
}